opsschool.internal.        IN  SOA dns.opsschool.internal. admin.opsschool.internal. 2020010812 7200 3600 1209600 3600
server1.opsschool.internal.   IN  A      172.31.68.20
server2.opsschool.internal.   IN  A      172.31.96.225